/* ABOUT */
.about {
  background-color: var(--container-color);
  transition: background-color 0.4s;
}

.about__container {
  row-gap: 0;
}

.about__perfil {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block: 2.5rem auto;
}

.about__image-container {
  position: relative;
  width: 620px;
  margin-bottom: 1rem;
}

.about__img {
  width: 100%;
  border: 4px solid var(--white-color);
  z-index: 2;
}

.about__shadow,
.about__line,
.about__box,
.geometric-box {
  position: absolute;
}

.about__shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  top: 1rem;
  left: 2.5rem;
  border-bottom: 4px solid var(--first-color);
  transition: background-color 0.4s;
  z-index: 0;
}

.about__perfil .geometric-box {
  top: -1.5rem;
  right: -2.5rem;
  z-index: 1;
}

.about__line {
  filter: invert(1);
  right: -1rem;
  top: 4rem;
  width: 50px;
  margin-bottom: 1rem;
  transition: filter 0.4s;
  z-index: 2;
}

.about__box {
  width: 40px;
  height: 40px;
  background-color: var(--first-color);
  right: 0;
  bottom: 1.5rem;
  z-index: 0;
}

.about__info {
  padding-left: 1.25rem;
}

.about__description {
  margin-top: 1rem;
  position: relative;
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.about__description::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: var(--title-color);
  position: absolute;
  left: -1.75rem;
  top: 0.5rem;
}

.about__list {
  list-style: square;
  color: var(--title-color);
  margin-bottom: 3rem;
}

.about__buttons {
  display: flex;
  column-gap: 1rem;
}

/* Medium devices */
@media screen and (min-width: 576px) {
  .about__container{
    grid-template-columns: 350px;
    justify-content: center;
  }
}

/* Large devices */
@media screen and (min-width: 1150px){
  .about__line{
    width: 80px;
    right: -2rem;
    top: 10rem;
  }
}
