/* FOOTER */
.footer{
  background-color: var(--black-color);
}

.footer__container{
  padding-block: 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__links{
  display: flex;
  justify-content: center;
  column-gap: 2rem
}

.footer__link{
  color: var(--white-color);
  transition: color .4s;
}

.footer__link:hover{
  color: var(--text-color-light);
}

.footer__copy{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-align: center;
}

.footer__copy a{
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: color .3s;
}

.footer__copy a:hover{
  color: var(--first-color);
}

/* Large devices */
@media screen and (min-width: 1150px){
  .footer__container{
    padding-block: 4rem;
  }
}
