/* HOME */
.home__container{
  padding-top: 2rem;
}

.home__name{
  font-family: var(--display-font);
  font-size: var(--biggest-font-size);
  text-align: center;
  letter-spacing: 2px;
  font-weight: normal;
  text-shadow: 0 0 10px rgba(255, 72, 72, 0.3);
  padding-bottom: 2rem;
}

.typing-cursor {
  color: var(--first-color);
  animation: blink 1s infinite;
  font-weight: normal;
  font-family: var(--display-font);
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.home__social {
  height: max-content;
  position: absolute;
  left: 1rem; 
  top: 90%; 
  transform: translateY(-50%);
  display: grid;
  row-gap: 1rem;
  z-index: 10;
}

.home__social-link {
  background-color: var(--black-color-light);
  color: var(--white-color);
  font-size: 1.8rem;
  padding: 6px;
  display: grid;
  place-items: center;
  transition: background-color .3s;
}

.home__social-link:hover{
  background-color: var(--black-color);
}

.home__info{
  margin-top: 4rem;
}

.home__description{
  text-align: center;
  color: var(--title-color);
  margin-bottom: 1.5rem;
  margin-top: -2rem;
}

.home__description b {
  background-image: linear-gradient(90deg, hsla(14, 98%, 50%, .4), hsla(14, 98%, 50%, 0));
  background-size: 100% 50px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 2px; 
  display: inline-block;
}

.home__scroll{
  display: block;
  width: max-content;
  margin: 0 auto;
}

.home__scroll-text{
  display: none;
}

.home__scroll-box{
  background-color: var(--black-color);
  color: var(--white-color);
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: background-color .4s;
}

.home__scroll-box i{
  animation: scroll 3s infinite;
}

/* Animate scroll icon */
@keyframes scroll{
  0%{
    transform: translateY(-1rem);
    opacity: 0;
  }
  50%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(.6rem);
    opacity: 0;
  }
}

/* Medium devices */
@media screen and (min-width: 576px) {
  .home__container{
    grid-template-columns: 350px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .home__social-link{
    font-size: 2rem;
    padding: 12px;
  }

  .home__social {
    left: 1rem; 
    top: 88%; 
  }
}

/* Large devices */
@media screen and (min-width: 1150px){
  .home__name{
    font-size: calc(var(--biggest-font-size) * 1.2);
    letter-spacing: 3px;
  }
  
  .home__description{
    text-align: center;
  }

  .home__name{
    align-self: flex-end;
  }

  .home__info{
    margin-top: 2rem;
    align-self: flex-start;
  }

  .home__scroll-box{
    width: 44px;
    height: 44px;
  }

  .home__scroll-box i {
    font-size: 1.25rem;
  }

  .home__social-link{
    font-size: 2.5rem;
    padding: 12px;
  }

  .home__social {
    left: 2rem; 
    top: 116%; 
  }
}
